    body {
        font-family: 'Montserrat', sans-serif !important;
        height: 100%;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    .intro {
        height: 100vh;
        /* Use static image in case the video is not loaded or loaded only after the first scroll */
        background-image: url(../resources/bg.jpeg);
        background-size: cover;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-position: 50% 50%;
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: scroll;
        background-color: #999;
    }

    .intro video {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
    .intro p {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 80px;
    }
    .intro h1 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 80px;
    }
    .intro h2 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;
    }
    
    .is-beer-image {
        width: 128px !important;
        height: 385px !important;
        margin-top: 50px;
    }
    
    .sm-logo {
        width: 96px;
        height: 96px;
    }
    
    .md-logo {
        width: 128px;
        height: 128px;
    }
    
    .has-content-centered {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .no-bullets {
        list-style-type: none !important;
    }
    
    .social-media {
        margin-top: 30px;
    }
    
    .social-media a {
        margin-right: 10px;
    }
    
    .is-fullheight-background {
        background-image: url(../resources/drop_malto_nogreen.jpg);
        background-size: cover;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-position: 50% 50%;
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: scroll;
        background-color: #999;
    }
    
    .is-contrast-text {
        color: white;
        mix-blend-mode: hard-light;
    }

    
    html {
        scroll-behavior: smooth;
        height: 100%;
        overflow-x: hidden;
    }
    
    .footer {
        position: absolute;
        left: 0;
        right: 0;
        width: 100%;
        background-color: #f5f5f5;
        padding: 3rem 1.5rem 6rem;
    }
    
    .floating-center {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    
    .display-5 {
        font-size: 2.5rem;
        font-weight: 200;
        line-height: 1.0;
    }
    
    .display-6 {
        font-size: 2.0rem;
        font-weight: 150;
        line-height: 0.9;
    }
    
    .display-7 {
        font-size: 1.5rem;
        font-weight: 100;
        line-height: 0.5;
    }
    
    .notification {
        background-color: #f5f5f5;
        border-radius: 4px;
        position: relative;
        padding: 1.25rem 2.5rem 1.25rem 1.5rem;
    }
    
    .is-food-icon {
        height: 20px;
        width: 20px;
    }
    
    .small-figure-img {
        margin-bottom: .5rem;
        line-height: 0.1;
    }

    #first #second #third #fourth #fifth {
        opacity: 0%;
        font-size: 2.5rem;
        
    }