body {
  font-family: "Montserrat", sans-serif !important;
}

html {
  background-color: #323a40;
}
.ba-header {
  padding: 8rem 0;
  background-color: #495057;
  color: #fafafa;
}
#beer {
  padding: 8rem 0;
  background-color: #323a40;
}

a {
  color: #fafafa;
}
/* unvisited link */
a:link {
	color: #fafafa;
  }
  
  /* visited link */
  a:visited {
	color: #fafafa;
  }
  
  /* mouse over link */
  a:hover {
	color: #fafafa;
  }
  
  /* selected link */
  a:active {
	color: #fafafa;
  }
