body {
  font-family: "Montserrat", sans-serif !important;
}

html {
  background-color: #323a40;
}
.ba-header {
  padding: 8rem 0;
  background-color: #495057;
}
#beer {
  padding: 8rem 0;
  background-color: #323a40;
}

a {
  color: #212529;
}
/* unvisited link */
a:link {
  color: #212529;
}

/* visited link */
a:visited {
  color: #212529;
}

/* mouse over link */
a:hover {
  text-decoration: underline;
  color: white;
}

/* selected link */
a:active {
  text-decoration: underline;
  color: white;
}

a:link {
  text-decoration: none;
  color: 212529;
}
